@charset "UTF-8";

html {
    height: 100%;
}

header {
    margin: 100px 0 0 0;
}

body {
    height: 100%;
    /* background: linear-gradient(#bd9391, #adbabd, #91b7c7); */
    background: linear-gradient(#2869c0, #5da2f0, #eddd60);
}

.img {
    text-align: center;
}

.atlas-img {
    width: 10.5%;
    /* padding: 170px 0 0 0; */
}

.subtitle {
    color: white;
    font-size: 33px;
    text-align: center;
}

#container {
    padding: 0 10px 0 10px;
    width: 300px;
    margin: 0 auto;
    color: white;
    align-items: center;
}

.login {
    width: 270px;
    margin: 50px 0 0 0;
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 13px;
    padding: 20px;
}

.login-section {
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 20px;
}

.login-label {
    font-size: 15px;
}

.login-form {
    border-radius: 6px;
    border: 1px;
    width: 260px;
    height: 39px;
    margin: 6px 0 20px 0;
}

.login-button {
    background-color: #db4a55;
    border: 1px;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    border-radius: 6px;
    padding: 9px 39px 9px 39px;
    margin: 0 0 0 124px;
}

.section {
    text-align: center;
    color: white;
    margin: 40px 0 15px 0;
}

.section a:visited {
    color: white;
}

/* register */
.register {
    width: 270px;
    margin: 20px 0 0 0;
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 13px;
    padding: 20px;
}

.register-section {
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 20px;
}

.register-content {
    margin: 0 0 20px 0;
    text-align: right;
}

.register-form {
    width: 270px;
    height: 40px;
    border-radius: 6px;
    border: 1px;
    margin: 6px 0 20px 0;
}

.register-label {
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
}

.register-button {
    background-color: #db4a55;
    border: 1px;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    border-radius: 6px;
    padding: 9px 20px 9px 20px;
    margin: 10px 0 0 0;
}

.back-link {
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 35px 0 0 0;
}

.back-link a:visited {
    color: white;
}

/* added */
.added {
    width: 270px;
    margin: 50px 0 0 0;
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 13px;
    padding: 30px 20px 40px 20px;
    text-align: center;
}

.added-bold {
    font-weight: bold;
}

.btn {
    background-color: #db4a55;
    border: 1px;
    color: white;
    font-size: 17px;
    font-weight: lighter;
    border-radius: 6px;
    width: 150px;
    padding: 9px 0px 9px 0px;
    display: inline-block;
    text-align: center;
}

.btn a:visited {
    color: white;
}


.font-big {
    font-size: 20px;
}

.added-lighter {
    font-size: 16px;
    font-weight: 100;
}

.m-20 {
    margin-bottom: 20px;
}

.m-30 {
    margin-bottom: 30px;
}

.m-40 {
    margin-bottom: 40px;
}
