@charset "utf-8";

html {}

body {
    width: 100%;
    overflow: scroll;
}

/* header */
header {
    background: #186AC9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

#container {
    flex: 0 0 79%;
    width: 0;
    height: 0;
    padding-right: 21%;
    /* paddingがないと右のサイドバーに重なる */
}

#side-bar {
    flex: 0 0 21%;
    border-left: 1px solid #727272;
    /* margin: 0 0 0 30px; */
    height: 900px;
}

#head {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 32%;
    margin: 25px 0 0 25px;
}

.user-info {
    display: flex;
    justify-content: right;
    align-items: center;
}

.username {
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.user-icon {
    width: 49px;
    height: 49px;
    margin: 20px 30px 20px 10px;
    border-radius: 50%;
}

.user-icon2 {
    width: 49px;
    height: 49px;
    margin: 25px 30px 20px 80px;
    border-radius: 50%;
}

.accordion {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin: 0 5px 0 20px;
}

.accordion.active {
    transform: rotateX(-180deg);
    transition-duration: 0.5s;
}

.menu {
    position: absolute;
    margin: 33px 0 0 0;
    /* ヘッダーの青い部分に合わせるために上部分空間 */
    border: 1.5px solid navy;
    background-color: white;
    width: 300px;
    right: 0;
    /* left: 79%; */
    /* 左端の寄せ方→済！ */
}

.link {
    display: block;
    background-color: white;
    font-size: 25px;
    text-align: center;
    color: gray;
    height: 83px;
    /* 多分✖️3がheightの高さ249あたりだった */
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.menu a:hover {
    background-color: navy;
    color: white;
}

.menu.active {
    transform: translateY(0%);
    transition: .5s ease-in-out;
}

#confirm {
    padding: 24px 23px 0px 23px;
    font-size: 15px;
    font-weight: lighter;
}

.count {
    margin-bottom: 12px;
}

.count-about {
    text-align: left;
    left: 0;
    justify-content: flex-start;
    justify-content: left;
    margin: 0 40px 0 0;
    margin-bottom: 12px;
}

.count {
    display: flex;
}

.btn {
    display: flex;
    justify-content: flex-end;
}

.btn-link {
    color: #FFFFFF;
    font-weight: 100;
    border-radius: 8px;
    width: 135px;
    height: 37px;
    background-color: #1f59c7;
    margin: 0 0 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow-follower {
    justify-content: space-between;
}

.search {
    /* flex: 0 0 19%; */
    border-top: 1px solid #727272;
    display: flex;
    justify-content: center;
}

.search-link {
    color: #FFFFFF;
    font-weight: 100;
    border-radius: 8px;
    font-size: 110%;
    width: 160px;
    height: 37px;
    background-color: #1f59c7;
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0 0 0;
}

.content {
    display: flex;
    border-bottom: 8px solid #e1e1e1;
    height: 155px;
}

.form {
    border: none;
    /* width: 1135px; */
    /* widthをもっと綺麗にやる方法 */
    /* padding: 10px 40px 10px 40px; */
    font-size: 17px;
    height: 50px;
    margin: 30px 0 0 0;
}

.post-icon {
    margin: 0;
    width: 48px;
    height: 48px;
    padding: 30px 15px 5px 80px;
    border-radius: 50%;
}

::placeholder {
    color: #e1e1e1;
    font-size: 18px;
    font-weight: lighter;
}

.form-control {
    border: none;
    width: 600px;
    /* widthどのくらいかわからない */
    font-size: 17px;
    height: 50px;
    margin: 0;
}

.post-button {
    width: 44px;
    height: 44px;
    border-radius: 6px;
    margin: 5px 160px 0 760px;
}

.user-icon-post {
    width: 49px;
    height: 49px;
    margin: 0;
    margin: 0 15px 0 0;
    border-radius: 50% 50% 50%;
}

.post-content {
    margin: 15px 0 0 0;
}

.post-vertical {
    display: flex;
    justify-content: space-between;
    /* width: 87.9%; */
    /* margin: 10px 0 20px 0; */
    padding: 20px 0 20px 124px;
    border-bottom: 1px solid #e1e1e1;
}

.left {
    display: flex;
}

.right {
    text-align: right;
    padding: 0 25px 0 0;
    font-size: 12px;
}

.left-name {
    font-size: 14px;
}

.left-post {
    font-size: 13px;
    text-align: left;
}

.icon {
    display: flex;
    margin: 0;
    justify-content: center;
    margin: 0 0 14px 0;
}

.edit-icon {
    width: 37px;
    height: 37px;
    margin: 0 10px 0 0;
}

.trash-icon {
    width: 42px;
    height: 42px;
    border-radius: 6px;
    background-color: #fff;
}

.trash-icon-hover {
    width: 42px;
    height: 42px;
    border-radius: 6px;
    position: relative;
    background-color: #fff;
}

/* 画像のスタイル */
.hover img {
    position: absolute;
    /* 重ねてる */
}

.hover img:last-of-type {
    opacity: 0;
    transition: opacity .5s;
}

.hover:hover img {
    opacity: 1;
}

/* モーダル */
.modal {
    display: none;
}

.content {
    margin: 0 auto;
    /* padding: 40px; */
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    top: 50%;
    padding: 100px 40px 100px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 55%;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
}

.modal_post {
    width: 700px;
    height: 200px;
    align-items: center;
}

.update-icon-modal {
    width: 37px;
    height: 37px;
}

.search-form {
    width: 323px;
    height: 44px;
    margin: 50px 18px 0 61px;
    border: solid 1.5px #727272;
    border-radius: 5px;
}

.search-form-contents {
    display: flex;
    border-bottom: 8px solid #e1e1e1;
    padding: 20px 300px 55px 0px;
}

.list-text {
    white-space: nowrap;
    font-size: 24px;
    padding: 10px 60px 0 85px;
}

.follow-user-icon {
    width: 46px;
    height: 46px;
    margin: 0 5px 0 0;
    border-radius: 50%;
}

.search-button {
    width: 47px;
    height: 47px;
    border-radius: 5px;
    text-align: center;
}

.search-contents {}

.search-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 0 0;
    /* margin: 0 auto; */
    margin: 0 0 0 305px;
    width: 490px;
    height: 75px;
}

.search-username {
    font-size: 19px;
    text-align: left;
}

.icon-name {
    display: flex;
    text-align: left;
    align-items: center;
}

.follow {
    color: #FFFFFF;
    font-weight: 100;
    background-color: #67acf8;
    width: 130px;
    height: 37px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unfollow {
    color: #FFFFFF;
    font-weight: 100;
    background-color: #db4a55;
    width: 130px;
    height: 37px;
    border-radius: 8px;
    margin: 0 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow-link {
    color: #FFFFFF;
}

.unfollow-link {
    color: #FFFFFF;
}

.profile-contents {
    /* margin: 100px 100px 100px 100px; */
    padding: 5.5% 25.5% 6% 27%;
    display: block;
    justify-content: space-between;
    font-size: 20.5px;
}

.profile-form {
    width: 300px;
}

.username-form {
    width: 370px;
    height: 37px;
    background-color: #ebebeb;
    border: solid 1px #6b6b6b;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
}

.update-button {
    background-color: #db4a55;
    border: solid 0px;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 8px;
    width: 170px;
    height: 38px;
    /* padding: 10px 0 10px 0; */
}

#label {}

.if-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.profile-form-contents {
    display: flex;
    align-items: flex-end;
    border-bottom: 8px solid #e1e1e1;
    padding: 0 12px 40px 0;
    justify-content: space-between;
}

.profile-page {
    display: flex;
    padding: 10px 0 0 0;
    /* align-items: center; */
}

.profile-user-icon {
    width: 49px;
    height: 49px;
    margin: 30px 15px 5px 110px;
    align-items: center;
    border-radius: 50%;
}

.profile-user-content {
    display: flex;
    height: 70px;
    width: 200px;
    justify-content: space-evenly;
}

.profile-about {
    display: flex;
    padding: 5px 0 0 5px;
    width: 200px;
    justify-content: space-evenly;

}

.profile-bio-left {
    display: block;
    text-align: left;
}

.profile-bio {
    text-align: center;
}

.m-25 {
    margin-bottom: 25px;
}

.m-40 {
    margin-bottom: 40px;
}

.m-50 {
    margin-bottom: 50px;
}
